*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
#ant-rack-app .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}
#ant-rack-app .pointer-events-none {
    pointer-events: none
}
#ant-rack-app .fixed {
    position: fixed
}
#ant-rack-app .absolute {
    position: absolute
}
#ant-rack-app .relative {
    position: relative
}
#ant-rack-app .sticky {
    position: sticky
}
#ant-rack-app .inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}
#ant-rack-app .inset-y-0 {
    top: 0px;
    bottom: 0px
}
#ant-rack-app .top-\[12px\] {
    top: 12px
}
#ant-rack-app .right-\[12px\] {
    right: 12px
}
#ant-rack-app .bottom-0 {
    bottom: 0px
}
#ant-rack-app .left-0 {
    left: 0px
}
#ant-rack-app .left-9 {
    left: 2.25rem
}
#ant-rack-app .top-8 {
    top: 2rem
}
#ant-rack-app .top-4 {
    top: 1rem
}
#ant-rack-app .right-0 {
    right: 0px
}
#ant-rack-app .z-10 {
    z-index: 10
}
#ant-rack-app .col-span-1 {
    grid-column: span 1 / span 1
}
#ant-rack-app .col-span-2 {
    grid-column: span 2 / span 2
}
#ant-rack-app .my-\[4px\] {
    margin-top: 4px;
    margin-bottom: 4px
}
#ant-rack-app .mx-auto {
    margin-left: auto;
    margin-right: auto
}
#ant-rack-app .-my-2 {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem
}
#ant-rack-app .mr-1 {
    margin-right: 0.25rem
}
#ant-rack-app .ml-1 {
    margin-left: 0.25rem
}
#ant-rack-app .mt-1 {
    margin-top: 0.25rem
}
#ant-rack-app .ml-2 {
    margin-left: 0.5rem
}
#ant-rack-app .mt-0 {
    margin-top: 0px
}
#ant-rack-app .ml-3 {
    margin-left: 0.75rem
}
#ant-rack-app .mt-4 {
    margin-top: 1rem
}
#ant-rack-app .mt-8 {
    margin-top: 2rem
}
#ant-rack-app .mb-4 {
    margin-bottom: 1rem
}
#ant-rack-app .mt-2 {
    margin-top: 0.5rem
}
#ant-rack-app .mt-\[12px\] {
    margin-top: 12px
}
#ant-rack-app .ml-\[16px\] {
    margin-left: 16px
}
#ant-rack-app .mr-\[4px\] {
    margin-right: 4px
}
#ant-rack-app .ml-\[8px\] {
    margin-left: 8px
}
#ant-rack-app .mr-\[16px\] {
    margin-right: 16px
}
#ant-rack-app .mr-\[8px\] {
    margin-right: 8px
}
#ant-rack-app .mb-\[4px\] {
    margin-bottom: 4px
}
#ant-rack-app .mr-0 {
    margin-right: 0px
}
#ant-rack-app .mb-0 {
    margin-bottom: 0px
}
#ant-rack-app .mb-\[16px\] {
    margin-bottom: 16px
}
#ant-rack-app .mt-3 {
    margin-top: 0.75rem
}
#ant-rack-app .ml-6 {
    margin-left: 1.5rem
}
#ant-rack-app .mb-10 {
    margin-bottom: 2.5rem
}
#ant-rack-app .mr-2 {
    margin-right: 0.5rem
}
#ant-rack-app .mt-6 {
    margin-top: 1.5rem
}
#ant-rack-app .mr-4 {
    margin-right: 1rem
}
#ant-rack-app .ml-4 {
    margin-left: 1rem
}
#ant-rack-app .ml-\[12px\] {
    margin-left: 12px
}
#ant-rack-app .mt-\[4px\] {
    margin-top: 4px
}
#ant-rack-app .mb-40 {
    margin-bottom: 10rem
}
#ant-rack-app .mr-3 {
    margin-right: 0.75rem
}
#ant-rack-app .block {
    display: block
}
#ant-rack-app .inline-block {
    display: inline-block
}
#ant-rack-app .inline {
    display: inline
}
#ant-rack-app .flex {
    display: flex
}
#ant-rack-app .inline-flex {
    display: inline-flex
}
#ant-rack-app .table {
    display: table
}
#ant-rack-app .grid {
    display: grid
}
#ant-rack-app .contents {
    display: contents
}
#ant-rack-app .hidden {
    display: none
}
#ant-rack-app .h-3 {
    height: 0.75rem
}
#ant-rack-app .h-full {
    height: 100%
}
#ant-rack-app .h-4 {
    height: 1rem
}
#ant-rack-app .h-6 {
    height: 1.5rem
}
#ant-rack-app .h-5 {
    height: 1.25rem
}
#ant-rack-app .h-\[24px\] {
    height: 24px
}
#ant-rack-app .h-auto {
    height: auto
}
#ant-rack-app .h-\[56px\] {
    height: 56px
}
#ant-rack-app .h-\[16px\] {
    height: 16px
}
#ant-rack-app .h-\[12px\] {
    height: 12px
}
#ant-rack-app .h-\[20px\] {
    height: 20px
}
#ant-rack-app .h-\[36px\] {
    height: 36px
}
#ant-rack-app .h-\[40px\] {
    height: 40px
}
#ant-rack-app .h-96 {
    height: 24rem
}
#ant-rack-app .h-10 {
    height: 2.5rem
}
#ant-rack-app .h-2 {
    height: 0.5rem
}
#ant-rack-app .h-20 {
    height: 5rem
}
#ant-rack-app .h-12 {
    height: 3rem
}
#ant-rack-app .h-16 {
    height: 4rem
}
#ant-rack-app .h-8 {
    height: 2rem
}
#ant-rack-app .max-h-\[224px\] {
    max-height: 224px
}
#ant-rack-app .min-h-screen {
    min-height: 100vh
}
#ant-rack-app .w-3 {
    width: 0.75rem
}
#ant-rack-app .w-full {
    width: 100%
}
#ant-rack-app .w-4 {
    width: 1rem
}
#ant-rack-app .w-44 {
    width: 11rem
}
#ant-rack-app .w-20 {
    width: 5rem
}
#ant-rack-app .w-auto {
    width: auto
}
#ant-rack-app .w-6 {
    width: 1.5rem
}
#ant-rack-app .w-5 {
    width: 1.25rem
}
#ant-rack-app .w-80 {
    width: 20rem
}
#ant-rack-app .w-\[24px\] {
    width: 24px
}
#ant-rack-app .w-\[56px\] {
    width: 56px
}
#ant-rack-app .w-\[16px\] {
    width: 16px
}
#ant-rack-app .w-\[12px\] {
    width: 12px
}
#ant-rack-app .w-\[20px\] {
    width: 20px
}
#ant-rack-app .w-\[40px\] {
    width: 40px
}
#ant-rack-app .w-10 {
    width: 2.5rem
}
#ant-rack-app .w-40 {
    width: 10rem
}
#ant-rack-app .w-12 {
    width: 3rem
}
#ant-rack-app .w-36 {
    width: 9rem
}
#ant-rack-app .w-1\/3 {
    width: 33.333333%
}
#ant-rack-app .min-w-full {
    min-width: 100%
}
#ant-rack-app .max-w-7xl {
    max-width: 80rem
}
#ant-rack-app .max-w-6xl {
    max-width: 72rem
}
#ant-rack-app .flex-1 {
    flex: 1 1 0%
}
#ant-rack-app .flex-shrink-0 {
    flex-shrink: 0
}
#ant-rack-app .translate-y-4 {
    --tw-translate-y: 1rem;
    transform: var(--tw-transform)
}
#ant-rack-app .translate-y-0 {
    --tw-translate-y: 0px;
    transform: var(--tw-transform)
}
#ant-rack-app .translate-y-\[16px\] {
    --tw-translate-y: 16px;
    transform: var(--tw-transform)
}
#ant-rack-app .rotate-90 {
    --tw-rotate: 90deg;
    transform: var(--tw-transform)
}
#ant-rack-app .transform {
    transform: var(--tw-transform)
}
@-webkit-keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0
    }
}
@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0
    }
}
#ant-rack-app .animate-ping {
    -webkit-animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
            animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite
}
@-webkit-keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
#ant-rack-app .animate-spin {
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite
}
#ant-rack-app .cursor-pointer {
    cursor: pointer
}
#ant-rack-app .cursor-default {
    cursor: default
}
#ant-rack-app .select-none {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none
}
#ant-rack-app .grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr))
}
#ant-rack-app .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
#ant-rack-app .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}
#ant-rack-app .grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr))
}
#ant-rack-app .grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
}
#ant-rack-app .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}
#ant-rack-app .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}
#ant-rack-app .flex-col {
    flex-direction: column
}
#ant-rack-app .flex-wrap {
    flex-wrap: wrap
}
#ant-rack-app .items-start {
    align-items: flex-start
}
#ant-rack-app .items-end {
    align-items: flex-end
}
#ant-rack-app .items-center {
    align-items: center
}
#ant-rack-app .justify-start {
    justify-content: flex-start
}
#ant-rack-app .justify-end {
    justify-content: flex-end
}
#ant-rack-app .justify-center {
    justify-content: center
}
#ant-rack-app .justify-between {
    justify-content: space-between
}
#ant-rack-app .justify-evenly {
    justify-content: space-evenly
}
#ant-rack-app .gap-6 {
    gap: 1.5rem
}
#ant-rack-app .space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}
#ant-rack-app .space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}
#ant-rack-app .space-y-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}
#ant-rack-app .space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}
#ant-rack-app .divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}
#ant-rack-app .divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-divide-opacity))
}
#ant-rack-app .overflow-auto {
    overflow: auto
}
#ant-rack-app .overflow-hidden {
    overflow: hidden
}
#ant-rack-app .overflow-x-auto {
    overflow-x: auto
}
#ant-rack-app .overflow-y-auto {
    overflow-y: auto
}
#ant-rack-app .overflow-y-scroll {
    overflow-y: scroll
}
#ant-rack-app .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
#ant-rack-app .whitespace-nowrap {
    white-space: nowrap
}
#ant-rack-app .rounded-full {
    border-radius: 9999px
}
#ant-rack-app .rounded-sm {
    border-radius: 0.125rem
}
#ant-rack-app .rounded-xl {
    border-radius: 0.75rem
}
#ant-rack-app .rounded-lg {
    border-radius: 0.5rem
}
#ant-rack-app .rounded {
    border-radius: 0.25rem
}
#ant-rack-app .rounded-md {
    border-radius: 0.375rem
}
#ant-rack-app .rounded-none {
    border-radius: 0px
}
#ant-rack-app .rounded-l-md {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem
}
#ant-rack-app .rounded-r-md {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem
}
#ant-rack-app .rounded-b-none {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px
}
#ant-rack-app .rounded-t-none {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}
#ant-rack-app .border {
    border-width: 1px
}
#ant-rack-app .border-b {
    border-bottom-width: 1px
}
#ant-rack-app .border-t {
    border-top-width: 1px
}
#ant-rack-app .border-r-0 {
    border-right-width: 0px
}
#ant-rack-app .border-l-0 {
    border-left-width: 0px
}
#ant-rack-app .border-l {
    border-left-width: 1px
}
#ant-rack-app .border-t-2 {
    border-top-width: 2px
}
#ant-rack-app .border-t-4 {
    border-top-width: 4px
}
#ant-rack-app .border-r {
    border-right-width: 1px
}
#ant-rack-app .border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity))
}
#ant-rack-app .border-transparent {
    border-color: transparent
}
#ant-rack-app .border-green-800 {
    --tw-border-opacity: 1;
    border-color: rgba(6, 95, 70, var(--tw-border-opacity))
}
#ant-rack-app .border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}
#ant-rack-app .border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity))
}
#ant-rack-app .border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgba(107, 114, 128, var(--tw-border-opacity))
}
#ant-rack-app .border-green-700 {
    --tw-border-opacity: 1;
    border-color: rgba(4, 120, 87, var(--tw-border-opacity))
}
#ant-rack-app .border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity))
}
#ant-rack-app .border-green-400 {
    --tw-border-opacity: 1;
    border-color: rgba(52, 211, 153, var(--tw-border-opacity))
}
#ant-rack-app .bg-green-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(52, 211, 153, var(--tw-bg-opacity))
}
#ant-rack-app .bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(16, 185, 129, var(--tw-bg-opacity))
}
#ant-rack-app .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(107, 114, 128, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgba(55, 65, 81, var(--tw-bg-opacity))
}
#ant-rack-app .bg-green-700 {
    --tw-bg-opacity: 1;
    background-color: rgba(4, 120, 87, var(--tw-bg-opacity))
}
#ant-rack-app .bg-yellow-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 243, 199, var(--tw-bg-opacity))
}
#ant-rack-app .bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 250, 229, var(--tw-bg-opacity))
}
#ant-rack-app .bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(5, 150, 105, var(--tw-bg-opacity))
}
#ant-rack-app .bg-green-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(6, 95, 70, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity))
}
#ant-rack-app .bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(236, 253, 245, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(75, 85, 99, var(--tw-bg-opacity))
}
#ant-rack-app .bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity))
}
#ant-rack-app .bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity))
}
#ant-rack-app .bg-opacity-75 {
    --tw-bg-opacity: 0.75
}
#ant-rack-app .object-cover {
    -o-object-fit: cover;
       object-fit: cover
}
#ant-rack-app .p-2 {
    padding: 0.5rem
}
#ant-rack-app .p-6 {
    padding: 1.5rem
}
#ant-rack-app .p-\[16px\] {
    padding: 16px
}
#ant-rack-app .p-\[8px\] {
    padding: 8px
}
#ant-rack-app .p-4 {
    padding: 1rem
}
#ant-rack-app .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
#ant-rack-app .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
#ant-rack-app .px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
#ant-rack-app .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
#ant-rack-app .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}
#ant-rack-app .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
#ant-rack-app .px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px
}
#ant-rack-app .py-\[16px\] {
    padding-top: 16px;
    padding-bottom: 16px
}
#ant-rack-app .py-\[12px\] {
    padding-top: 12px;
    padding-bottom: 12px
}
#ant-rack-app .py-\[8px\] {
    padding-top: 8px;
    padding-bottom: 8px
}
#ant-rack-app .px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px
}
#ant-rack-app .px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}
#ant-rack-app .py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
#ant-rack-app .py-\[4px\] {
    padding-top: 4px;
    padding-bottom: 4px
}
#ant-rack-app .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
#ant-rack-app .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
#ant-rack-app .px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem
}
#ant-rack-app .px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}
#ant-rack-app .pb-6 {
    padding-bottom: 1.5rem
}
#ant-rack-app .pb-4 {
    padding-bottom: 1rem
}
#ant-rack-app .pt-6 {
    padding-top: 1.5rem
}
#ant-rack-app .pt-4 {
    padding-top: 1rem
}
#ant-rack-app .pb-20 {
    padding-bottom: 5rem
}
#ant-rack-app .pt-5 {
    padding-top: 1.25rem
}
#ant-rack-app .pt-\[20px\] {
    padding-top: 20px
}
#ant-rack-app .pb-\[32px\] {
    padding-bottom: 32px
}
#ant-rack-app .pb-\[16px\] {
    padding-bottom: 16px
}
#ant-rack-app .pl-\[16px\] {
    padding-left: 16px
}
#ant-rack-app .pr-\[8px\] {
    padding-right: 8px
}
#ant-rack-app .pt-0 {
    padding-top: 0px
}
#ant-rack-app .pl-\[8px\] {
    padding-left: 8px
}
#ant-rack-app .pr-\[16px\] {
    padding-right: 16px
}
#ant-rack-app .pl-10 {
    padding-left: 2.5rem
}
#ant-rack-app .pr-5 {
    padding-right: 1.25rem
}
#ant-rack-app .pl-12 {
    padding-left: 3rem
}
#ant-rack-app .pt-2 {
    padding-top: 0.5rem
}
#ant-rack-app .pb-3 {
    padding-bottom: 0.75rem
}
#ant-rack-app .pb-24 {
    padding-bottom: 6rem
}
#ant-rack-app .pl-\[12px\] {
    padding-left: 12px
}
#ant-rack-app .pr-\[40px\] {
    padding-right: 40px
}
#ant-rack-app .pr-\[36px\] {
    padding-right: 36px
}
#ant-rack-app .pt-1 {
    padding-top: 0.25rem
}
#ant-rack-app .text-left {
    text-align: left
}
#ant-rack-app .text-center {
    text-align: center
}
#ant-rack-app .text-right {
    text-align: right
}
#ant-rack-app .align-middle {
    vertical-align: middle
}
#ant-rack-app .align-bottom {
    vertical-align: bottom
}
#ant-rack-app .font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
#ant-rack-app .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
#ant-rack-app .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
#ant-rack-app .text-base {
    font-size: 1rem;
    line-height: 1.5rem
}
#ant-rack-app .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
#ant-rack-app .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}
#ant-rack-app .text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
#ant-rack-app .text-\[20px\] {
    font-size: 20px
}
#ant-rack-app .text-\[12px\] {
    font-size: 12px
}
#ant-rack-app .text-\[16px\] {
    font-size: 16px
}
#ant-rack-app .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
#ant-rack-app .font-light {
    font-weight: 300
}
#ant-rack-app .font-medium {
    font-weight: 500
}
#ant-rack-app .font-bold {
    font-weight: 700
}
#ant-rack-app .font-semibold {
    font-weight: 600
}
#ant-rack-app .font-normal {
    font-weight: 400
}
#ant-rack-app .uppercase {
    text-transform: uppercase
}
#ant-rack-app .italic {
    font-style: italic
}
#ant-rack-app .leading-6 {
    line-height: 1.5rem
}
#ant-rack-app .leading-5 {
    line-height: 1.25rem
}
#ant-rack-app .leading-\[24px\] {
    line-height: 24px
}
#ant-rack-app .leading-\[16px\] {
    line-height: 16px
}
#ant-rack-app .tracking-wider {
    letter-spacing: 0.05em
}
#ant-rack-app .text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}
#ant-rack-app .text-gray-800 {
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity))
}
#ant-rack-app .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}
#ant-rack-app .text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity))
}
#ant-rack-app .text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}
#ant-rack-app .text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}
#ant-rack-app .text-red-500 {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity))
}
#ant-rack-app .text-green-800 {
    --tw-text-opacity: 1;
    color: rgba(6, 95, 70, var(--tw-text-opacity))
}
#ant-rack-app .text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity))
}
#ant-rack-app .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity))
}
#ant-rack-app .text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgba(79, 70, 229, var(--tw-text-opacity))
}
#ant-rack-app .text-blue-800 {
    --tw-text-opacity: 1;
    color: rgba(30, 64, 175, var(--tw-text-opacity))
}
#ant-rack-app .text-gray-300 {
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity))
}
#ant-rack-app .text-green-900 {
    --tw-text-opacity: 1;
    color: rgba(6, 78, 59, var(--tw-text-opacity))
}
#ant-rack-app .text-blue-600 {
    --tw-text-opacity: 1;
    color: rgba(37, 99, 235, var(--tw-text-opacity))
}
#ant-rack-app .text-green-600 {
    --tw-text-opacity: 1;
    color: rgba(5, 150, 105, var(--tw-text-opacity))
}
#ant-rack-app .underline {
    text-decoration: underline
}
#ant-rack-app .line-through {
    text-decoration: line-through
}
#ant-rack-app .opacity-0 {
    opacity: 0
}
#ant-rack-app .opacity-100 {
    opacity: 1
}
#ant-rack-app .opacity-75 {
    opacity: 0.75
}
#ant-rack-app .opacity-25 {
    opacity: 0.25
}
#ant-rack-app .opacity-80 {
    opacity: 0.8
}
#ant-rack-app .opacity-40 {
    opacity: 0.4
}
#ant-rack-app .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
#ant-rack-app .shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
#ant-rack-app .shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
#ant-rack-app .shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
#ant-rack-app .ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
#ant-rack-app .ring-black {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity))
}
#ant-rack-app .ring-opacity-5 {
    --tw-ring-opacity: 0.05
}
#ant-rack-app .filter {
    filter: var(--tw-filter)
}
#ant-rack-app .transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
#ant-rack-app .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
#ant-rack-app .transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
#ant-rack-app .duration-300 {
    transition-duration: 300ms
}
#ant-rack-app .duration-200 {
    transition-duration: 200ms
}
#ant-rack-app .duration-500 {
    transition-duration: 500ms
}
#ant-rack-app .duration-100 {
    transition-duration: 100ms
}
#ant-rack-app .ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}
#ant-rack-app .ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}
#ant-rack-app .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
#ant-rack-app .ease-linear {
    transition-timing-function: linear
}
#ant-rack-app .hover\:bg-green-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(4, 120, 87, var(--tw-bg-opacity))
}
#ant-rack-app .hover\:bg-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity))
}
#ant-rack-app .hover\:bg-green-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(6, 95, 70, var(--tw-bg-opacity))
}
#ant-rack-app .hover\:bg-gray-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(55, 65, 81, var(--tw-bg-opacity))
}
#ant-rack-app .hover\:bg-gray-900:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity))
}
#ant-rack-app .hover\:text-gray-800:hover {
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity))
}
#ant-rack-app .hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}
#ant-rack-app .hover\:text-indigo-900:hover {
    --tw-text-opacity: 1;
    color: rgba(49, 46, 129, var(--tw-text-opacity))
}
#ant-rack-app .focus\:border-gray-700:focus {
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity))
}
#ant-rack-app .focus\:border-indigo-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(99, 102, 241, var(--tw-border-opacity))
}
#ant-rack-app .focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
#ant-rack-app .focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
#ant-rack-app .focus\:ring-white:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity))
}
#ant-rack-app .focus\:ring-gray-700:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(55, 65, 81, var(--tw-ring-opacity))
}
#ant-rack-app .focus\:ring-indigo-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity))
}
#ant-rack-app .focus\:ring-green-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(16, 185, 129, var(--tw-ring-opacity))
}
#ant-rack-app .focus\:ring-green-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(5, 150, 105, var(--tw-ring-opacity))
}
#ant-rack-app .focus\:ring-offset-2:focus {
    --tw-ring-offset-width: 2px
}
#ant-rack-app .disabled\:bg-gray-50:disabled {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity))
}
#ant-rack-app .disabled\:text-gray-600:disabled {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}
@media (min-width: 640px) {
    #ant-rack-app .sm\:col-span-7 {
        grid-column: span 7 / span 7
    }
    #ant-rack-app .sm\:my-8 {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
    #ant-rack-app .sm\:my-\[32px\] {
        margin-top: 32px;
        margin-bottom: 32px
    }
    #ant-rack-app .sm\:-mx-6 {
        margin-left: -1.5rem;
        margin-right: -1.5rem
    }
    #ant-rack-app .sm\:ml-3 {
        margin-left: 0.75rem
    }
    #ant-rack-app .sm\:mt-0 {
        margin-top: 0px
    }
    #ant-rack-app .sm\:ml-\[12px\] {
        margin-left: 12px
    }
    #ant-rack-app .sm\:mr-\[16px\] {
        margin-right: 16px
    }
    #ant-rack-app .sm\:mb-0 {
        margin-bottom: 0px
    }
    #ant-rack-app .sm\:ml-6 {
        margin-left: 1.5rem
    }
    #ant-rack-app .sm\:block {
        display: block
    }
    #ant-rack-app .sm\:inline-block {
        display: inline-block
    }
    #ant-rack-app .sm\:flex {
        display: flex
    }
    #ant-rack-app .sm\:hidden {
        display: none
    }
    #ant-rack-app .sm\:h-screen {
        height: 100vh
    }
    #ant-rack-app .sm\:w-0 {
        width: 0px
    }
    #ant-rack-app .sm\:w-full {
        width: 100%
    }
    #ant-rack-app .sm\:w-auto {
        width: auto
    }
    #ant-rack-app .sm\:w-\[112px\] {
        width: 112px
    }
    #ant-rack-app .sm\:max-w-3xl {
        max-width: 48rem
    }
    #ant-rack-app .sm\:max-w-\[896px\] {
        max-width: 896px
    }
    #ant-rack-app .sm\:max-w-lg {
        max-width: 32rem
    }
    #ant-rack-app .sm\:translate-y-0 {
        --tw-translate-y: 0px;
        transform: var(--tw-transform)
    }
    #ant-rack-app .sm\:scale-95 {
        --tw-scale-x: .95;
        --tw-scale-y: .95;
        transform: var(--tw-transform)
    }
    #ant-rack-app .sm\:scale-100 {
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: var(--tw-transform)
    }
    #ant-rack-app .sm\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
    #ant-rack-app .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    #ant-rack-app .sm\:flex-row {
        flex-direction: row
    }
    #ant-rack-app .sm\:flex-row-reverse {
        flex-direction: row-reverse
    }
    #ant-rack-app .sm\:items-start {
        align-items: flex-start
    }
    #ant-rack-app .sm\:items-stretch {
        align-items: stretch
    }
    #ant-rack-app .sm\:justify-start {
        justify-content: flex-start
    }
    #ant-rack-app .sm\:rounded-lg {
        border-radius: 0.5rem
    }
    #ant-rack-app .sm\:p-0 {
        padding: 0px
    }
    #ant-rack-app .sm\:p-\[24px\] {
        padding: 24px
    }
    #ant-rack-app .sm\:p-6 {
        padding: 1.5rem
    }
    #ant-rack-app .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    #ant-rack-app .sm\:px-\[24px\] {
        padding-left: 24px;
        padding-right: 24px
    }
    #ant-rack-app .sm\:pb-\[24px\] {
        padding-bottom: 24px
    }
    #ant-rack-app .sm\:pt-\[16px\] {
        padding-top: 16px
    }
    #ant-rack-app .sm\:pb-4 {
        padding-bottom: 1rem
    }
    #ant-rack-app .sm\:text-left {
        text-align: left
    }
    #ant-rack-app .sm\:align-middle {
        vertical-align: middle
    }
    #ant-rack-app .sm\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem
    }
    #ant-rack-app .sm\:text-\[14px\] {
        font-size: 14px
    }
    #ant-rack-app .sm\:leading-\[20px\] {
        line-height: 20px
    }
}
@media (min-width: 768px) {
    #ant-rack-app .md\:flex-none {
        flex: none
    }
    #ant-rack-app .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}
@media (min-width: 1024px) {
    #ant-rack-app .lg\:col-span-3 {
        grid-column: span 3 / span 3
    }
    #ant-rack-app .lg\:col-span-2 {
        grid-column: span 2 / span 2
    }
    #ant-rack-app .lg\:col-start-3 {
        grid-column-start: 3
    }
    #ant-rack-app .lg\:-mx-8 {
        margin-left: -2rem;
        margin-right: -2rem
    }
    #ant-rack-app .lg\:ml-9 {
        margin-left: 2.25rem
    }
    #ant-rack-app .lg\:w-10 {
        width: 2.5rem
    }
    #ant-rack-app .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    #ant-rack-app .lg\:border-l {
        border-left-width: 1px
    }
    #ant-rack-app .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }
}
